@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.popup {
  direction: rtl;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(136, 131, 131, 0.5);
}

.popup-card {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  /* min-height: 50vh; */
  width: 70%;
  /* min-width: 70vw; */
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.03);
  margin: auto;
}

.close-popup-button {
  position: relative;
  top: 7%;
  margin-right: 90%;
  height: 5vh;
  width: 5vw;
}

.close-popup-button:hover {
  cursor: pointer;
}

.text-in-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 60%;
  margin-bottom: 5%;
}

.popup-title {
  height: 30%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 25%;
  text-align: center;
}

.text-freind-find-job {
  height: 40%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
}

.text-search {
  height: 20%;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 30%;
  text-align: center;
}

.buttons-popup {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  color: black;
  margin-bottom: 2%;
}

.button-1 {
  background-color: #ffd200;
}

.elements-text-center {
  height: 28px;
  width: 131px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: black;
  display: flex;
  margin: auto;
}
.link-to-path {
  width: 100%;
  text-decoration: none;
}

.cv-icon {
  height: 18px;
  width: 14px;
}

.button-2 {
  box-sizing: border-box;
  border: 1px solid #ffd200;
}

.post-apply-btn {
  display: flex;
  margin: auto;
  height: 56px;
  width: 70%;
  border-radius: 28px;
  color: black;
  /* text-decoration: none; */
}
.post-apply-btn:hover {
  cursor: pointer;
}

.post-apply-btn * {
  font-weight: 700;
}

.in-button-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 60%;
}
