@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Orelega+One&family=Roboto:ital@1&family=Rubik:wght@800&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.pageOpenPosition {
  background-color: rgb(243, 243, 243);
    min-height: 68vh;
    padding-top: 1%;
}
.titleOpenPosition {
  text-align: center;
  font-size: 26px;
  margin-bottom: 7px;
}
.underline {
  margin-left: 48.5%;
  width: 40px;
  border: 2px solid #ffd200;
  background-color: #ffd200;
  border-radius: 5px;
}
.searchOpenPosition {
  width: 30%;
  border-radius: 50px;
  height: 48px;
  margin-left: 34%;
  direction: rtl;
  padding-right: 25px;
  border: none;
  outline: none;
  margin-bottom: 3%;
  margin-top: 30px;
  font-size: 18px;
  box-shadow: 0 4px 8px 0 rgba(103, 99, 99, 0.2),
    0 6px 20px 0 rgba(103, 99, 99, 0.2);
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: rgb(243, 243, 243);
  direction: rtl;
  margin-right: 11%;
  margin-bottom: -34px;
}
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: underline;
}
.forSearch:focus-within {
  border-style: none;
}

.positionH {
  display: flex;
}

