@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap");

.homePage-Image {
  background-image: url("/public/Images/pexels-canva-studio-3153207.png");
  background-repeat: no-repeat;
  height: 488px;
  background-size: 105%;
  margin-left: -16px;
}

.navBar {
  width: auto;
  background-color: #ffd200;
  height: 75px;
}
#description {
  font-family: "Rubik", sans-serif;
  color: #4a4a4a;
  font-size: 22px;
  font-weight: bold;
}
.homePage-img-title {
  position: absolute;
  font-size: 50px;
  right: 0px;
  margin-right: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-right: 30px;
}
.homePage-img-title h1 {
  position: relative;
  right: -34px;
}

.homePage-topHeader {
  width: 368px;
  font-size: 119px;
  text-align: right;
  margin-right: 12px;
  color: #ffd200;
  margin-block-end: 0px;
  line-height: 70%;
  font-family: "Rubik", sans-serif;
}

.homePage-smallTitle {
  width: 400px;
  text-align: right;
  margin-right: 30px;
  font-size: 30px;
  margin-bottom: 5px;
  font-family: "Rubik", sans-serif;
}

.homePage-searchBox {
  margin-bottom: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 92%;
  height: 30px;
  margin-right: 6%;
  font-size: 18px;
  text-align: right;
  margin-top: 4%;
  border-radius: 30px;
  padding: 3%;
  border-style: none;
  box-shadow: 5px 5px 50px rgb(0, 0, 0, 0.1);
  outline: none;
}

.IAlsoLookPbutton {
  margin-left: 3%;
  margin-top: 2%;
  border: none;
  background-color: #ffd200;
  border-radius: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  width: 13%;
  height: 50px;
  margin-top: 30.5%;
  margin-bottom: 0px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.1);
  display: flex;
}
.divIAlsoLookPbutton {
  height: 10px;
  display: flex;
}
.IAlsoLookPbuttonImg {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
}

.IAlsoLookPbuttonP {
  margin-left: 30px;
  font-size: 15px;
}
.homePage-searchInput {
  display: flex;
}
.searchIconHomePage {
  padding-top: 35px;
  padding-left: 20px;
  position: absolute;
}
