.container-login-web {
  width: 100%;
  display: flex;
}

.half-page-img-div {
  width: 60%;
}

#img-background-page {
  width: 100%;
}

.half-page-form-div {
  width: 40%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.856);
}

.half-page-main-form {
  /* height: 704px;/ */
  width: 50%;
  display: flex;
  flex-direction: column;

  margin-left: 150px;
}

.header-wellcome-big {
  height: 160px;
  width: 350px;
  color: #ffd200;
  font-family: Rubik;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.83px;
  line-height: 80px;
  text-align: center;
}

.header-details-login-site {
  height: 28px;
  width: 267px;
  color: #4a4a4a;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin-left: 40px;
  margin-top: -20px;
}

.middle-end-form-login {
  display: flex;
  flex-direction: column;
}

.inputs-form-login {
  height: 112px;
  width: 289px;
  margin-left: 13px;
}

.userInput-login-form {
  border-radius: 24px;
  text-align: right;
  height: 48px;
  width: 288px;
  box-shadow: 0 2px 16px 0 rgba(74, 74, 74, 0.05);
  margin-bottom: 10px;
  border: none;
  outline: none;
  padding-right: 20px;
}

/* .userInput-login-form:focus {
  border: 1px solid #ffd200;
} */

.error-invalid-value {
  color: red;
  font-size: x-small;
  margin-left: 70px;
}

.end-form-login-si {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.button-login-server {
  outline: none;
  height: 48px;
  width: 289px;
  border-radius: 24px;
  background-color: rgba(255, 210, 0, 0.6);
  margin-top: 45px;
  margin-left: 25px;
  border: none;
}

.button-login-server:hover {
  background-color: rgba(255, 240, 34, 0.6);

  cursor: pointer;
}

.questions-re-for {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 55px;
}

.rememberme-login {
  height: 16px;
  width: 123px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
}

.forget-password-login {
  height: 16px;
  width: 82px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  text-align: center;
}

.div-connect-google-login {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.header-h5-connect-login {
  height: 20px;
  width: 150px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  font-weight: 100;
  margin-left: 117px;
  text-align: center;
}

.btn-google-login {
  box-sizing: border-box;
  height: 48px;
  width: 140.5px;
  border: 1px solid #ffd200;
  border-radius: 24px;
  margin-left: 124px;
  padding-top: 10px;
  text-align: center;
}
