@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.containerHomePositions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 2%;
  background-color: rgb(250, 248, 248);
  background-repeat: no-repeat;
  height: 100vm;
}

.underlinOpenPositions {
  background-color: #ffd200;
  border: solid 2px #ffd200;
  width: 40px;
  height: 1px;
  margin-left: 48%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.showOtherPositionsButton {
  width: 200px;
  justify-content: center;
  background-color: transparent;
  height: 50px;
  border-radius: 30px;
  border: solid 2px #ffd200;
}
.showOtherPositions {
  padding-top: 5%;
}
.openPositionsLine {
  font-family: "Rubik", sans-serif;
  color: #4a4a4a;
}
