.container-register {
  width: 100%;
  display: flex;
}

.half-page-img-div-register {
  width: 60%;
}

#img-background-page-register {
  width: 100%;
}

.background-page-40-register {
  width: 40%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.856);
}

.form-page-register {
  height: 750px;
  width: 350px;
  margin-left: 150px;
}

.header-wellcome-register-ye {
  height: 160px;
  width: 350px;
  color: #ffd200;
  font-family: Rubik;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.83px;
  line-height: 80px;
  text-align: center;
}

.header-details-register {
  height: 28px;
  width: 267px;
  color: #4a4a4a;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin-left: 40px;
  margin-top: -20px;
}

.inputs-register-page {
  height: 240px;
  width: 289px;
  margin-left: 30px;
}

.userInput-register-page {
  border-radius: 24px;
  text-align: right;
  height: 48px;
  width: 288px;
  box-shadow: 0 2px 16px 0 rgba(74, 74, 74, 0.05);
  margin-bottom: 10px;
  border: none;
  padding-right: 20px;

  outline: none;
}

.input-div-register-page {
  border-radius: 24px;
  text-align: right;
  height: 48px;
  width: 288px;
  box-shadow: 0 2px 16px 0 rgba(74, 74, 74, 0.05);
  margin-bottom: 10px;
  border: none;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.pass-value-register {
  border: none;
  outline: none;
  text-align: right;
}

#icon-pass {
  padding-left: 20px;
  padding-top: 12px;
}

#icon-pass-con {
  padding-left: 20px;
  padding-top: 12px;
}

.error-invalid-register {
  color: red;
  font-size: x-small;
  margin-left: 132px;
}
.error-invalid-register-name {
  color: red;
  font-size: x-small;
  margin-left: 72px;
}

#button-form-submit-register {
  outline: none;
  height: 48px;
  width: 289px;
  border-radius: 24px;
  background-color: rgba(255, 210, 0, 0.6);
  margin-top: 80px;
  margin-left: 42px;
  border: none;
}

#button-form-submit-register:hover {
  background-color: rgba(255, 240, 34, 0.6);
  cursor: pointer;
}

.header-or-register {
  height: 20px;
  width: 150px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: center;
  margin-left: 117px;
}

.btn-google-register-form {
  box-sizing: border-box;
  height: 48px;
  width: 140.5px;
  border: 1px solid #ffd200;
  border-radius: 24px;
  margin-left: 124px;
  padding-top: 10px;
  padding-left: 16%;
}

#type-number[type="number"]::-webkit-inner-spin-button,
#type-number[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
