@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap");

.apply-container1 {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20%;

  padding-top: 10vh;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-bottom: 6vh;
  direction: ltr;
  min-height: 60vh;
  max-height: 150hv;
  /* width: fit-content; */
  border-radius: 20px 0 20px 20px;
  width: 158%;
  margin-left: -57%;
}
.imgComuter-home-container {
  /* position: relative; */
  left: -400px;
}
.apply-container-background1 {
  background-color: rgb(250, 248, 248);
}

.apply1 {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  height: 90%;
  margin-left: 7%;
  margin-bottom: 6%;
}

.apply-title1 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Rubik;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin-bottom: 5%;
  /* position: relative; */
  left: -285px;
}
.main-apply-title1 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 1%;
}

.secondary-apply-title1 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5%;
}
.input-candidate-details1 {
  display: flex;
  /* justify-content: center; */
  color: rgba(0, 0, 0, 0.87);
  font-family: "Rubik";
  letter-spacing: 0;
  line-height: normal;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}
.input-cv-form1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
  left: -285px;
}

.input-box-container1 {
  box-sizing: border-box;
  border: 1px solid rgba(74, 74, 74, 0.38);
  border-radius: 24px;
  background-color: #ffffff;
  margin-bottom: 6%;
}

.input-box1 {
  margin: 16.5px;
  background: transparent;
  border: none;
  width: 90%;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: right;
  outline: none;
}
::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input:focus {
  background: transparent;
  border: none;
  outline: none;
}

.input-cv-inputs1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4%;
}

.clickable1 {
  margin-bottom: 10%;
}

.clickable1:hover {
  cursor: pointer;
}

.button-icon-primary-enabled1 {
  height: 15%;
  width: 95%;
  border-radius: 24px;
  background-color: #ffd200;
  margin-top: -10%;
  margin-left: 4%;
  outline: none;
}
.btn-text-container1 {
  margin-top: 9px;
  margin-bottom: 11px;
}
.check-container1 {
  display: flex;
  justify-content: space-around;
}

.check-box-eula1 {
  height: 15px;
  border-radius: 5px;
}

.error-input {
  color: red;
  font-size: x-small;
}
#submit-button1 {
  background-color: transparent;
  border: none;
  padding-left: 40%;
}
.computerImg {
  margin-left: 13%;
}
.Agree {
  direction: rtl;
  margin-left: 30%;
}
