.OpenPositionsJob {
  background-color: white;
  /* flex: 0 0 25.55555%; */
  border: solid 1px black;
  border-radius: 20px;
  border: none;
  padding: 10px;
  width: 80%;
  direction: rtl;
  justify-content: center;
  box-shadow: 5px 5px 5px rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 1%;
}
.positionCards1 {
  height: 243px;
  padding-right: 5%;
  padding-left: 5%;
}

.sendCVofFriend {
  background-color: #ffd200;
  border: none;
  border-radius: 30px;
  height: 50px;
  margin-bottom: 30px;

  display: flex !important;
  width: 18% !important;
  position: relative;
  top: 7% !important;
  left: 5% !important;
  margin-right: 85% !important;
  margin-top: -18% !important;
  font-family: Rubik;
  font-size: 15px;
  text-align: center;
  padding-right: 54px;
  padding-top: 14px;
}
.cardsDate {
  font-size: 15px;
  color: dimgray;
}
