/* * {
  overflow-x: visible;
} */

.personalContainer {
  background-color: rgb(235, 235, 235);
  width: 100%;
}

.headline {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1%;
  padding-top: 3%;
  text-align: center;
}

.line {
  background-color: rgb(255, 210, 0);
  width: 3.5vw;
  height: 1vh;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8%;
  border-radius: 24px;
}

.friendHeadline {
  /* position: relative; */
  width: 85%;
  align-items: start;
  /* margin-left: 75%; */
  margin-bottom: 2%;
  text-align: right;
  font-weight: bold;
}

.friendJobContainer {
  display: flex;
  width: 85%;
  margin-right: 12%;
  margin-left: auto;
  margin-bottom: 7%;
  flex-wrap: wrap;
  align-items: right;
  justify-content: flex-end;
  gap: 15px 15px;
}

.noJob {
  display: flex;
  flex-direction: column;
  margin-bottom: 4%;
  background-color: none;
  border: 2px dashed grey;
  border-radius: 18px;
  padding: 2%;
  height: 30.5vh;
  width: 23vw;
  text-align: center;
  font-size: 0.75em;
  position: relative;
  right: 5vw;
}

.noJobHeadline {
  width: 60%;
  margin-bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.noJobPersonal {
  margin-left: 28.5vw;
}

.sendCVButton {
  border: 2px solid gold;
  width: 12vw;
  height: 4.4vh;
  margin-right: auto;
  margin-left: auto;
  border-radius: 24px;
  margin-bottom: 3%;
  font-size: 0.9em;
  padding-top: 3.5%;
  padding-bottom: 0.3%;
  text-decoration: none;
  font-weight: 600;
  text-decoration: none;
}

.sendCVButton:hover {
  background-color: gold;
}

.showMore {
  border: 2px solid gold;
  width: 15vw;
  height: 4.4vh;
  margin: auto;
  border-radius: 24px;
  margin-bottom: 3%;
  font-size: 0.9em;
  padding-top: 0.2%;
  text-align: center;
  font-weight: 600;
}

.showMore:hover {
  background-color: gold;
  cursor: pointer;
}

.myJobContainer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(249, 242, 206);
  text-align: right;
  border-radius: 15px;
  width: 90%;
  margin-bottom: 3%;
  padding-top: 6%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: auto;
  margin-right: auto;
}

.miniJobContainer {
  display: flex;
  width: 53%;
  height: fit-content;
  margin-left: 3%;
  overflow-x: auto;
  align-items: right;
  gap: 15px;
  /* justify-content: flex-end; */
}

.onePersonal {
  display: flex;
  width: 53%;
  height: fit-content;
  margin-left: 3%;
  overflow-x: auto;
  align-items: right;
  gap: 15px;
  justify-content: flex-end;
}

.miniJobContainer::-webkit-scrollbar {
  width: 3.9em;
  scrollbar-color: 100px red;
}

.miniJobContainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 3000px 0 4px rgb(99, 121, 199);
}

.miniJobContainer::-webkit-scrollbar-thumb {
  background-color: gold;
  border: 3px gold;
}

.folderImage {
  height: 120%;
  width: 28%;
  position: relative;
  bottom: -0.3vh;
  left: -1.7vw;
  margin-right: 1%;
}

.myJobPreview {
  width: 40%;
  margin-left: 90%;
}

.companyLine {
  font-weight: bold;
  font-size: 0.9em;
}

.jobPreviewContainer {
  width: 40%;
}

.myJobHeadline {
  position: relative;
  bottom: -7vh;
  right: -79vw;
  font-weight: bold;
  max-width: 30vw;
  display: inline-block;
}

.strongText {
  margin-right: 4%;
}
