.OpenPositionsCards {
  background-color: white;
  flex: 0 0 25.55555%;
  border: solid 1px black;
  border-radius: 20px;
  border: none;
  padding: 10px;
  height: 300px;
  width: 100%;
  direction: rtl;
  justify-content: center;
  box-shadow: 5px 5px 5px rgb(236, 236, 236);
  margin: 15px;
}
.positionDetailsCards {
  height: 70%;
}

.IHaveFriendButton {
  margin-right: 5%;
  width: 90%;
  background-color: #ffd200;
  border: none;
  border-radius: 30px;
  height: 50px;
  margin-bottom: 30px;
}
.cardsDate {
  font-size: 15px;
  color: dimgray;
}
