@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.position-and-form-container {
  direction: rtl;
  display: flex;
  flex: none;
  justify-content: space-between;
  height: 50vh;
  width: 54vw;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 60px 0 rgba(0, 0, 0, 0.03);
  /* border: solid 1px #f00; */
  margin-right: 15vw;
  margin-left: 15vw;
  margin-top: 10vh;
  height: fit-content;
  width: fit-content;
  max-height: 90vh;
}

.position-container {
  margin-top: 6vh;
  margin-bottom: 5vh;
  margin-left: 6vw;
  margin-right: 4vw;
  width: 52%;
}

.position-title {
  color: #000000;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 24px;
  text-align: right;
}
.position-date {
  opacity: 0.6;
  color: #4a4a4a;
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.44px;
  line-height: 26px;
  text-align: right;
  margin-top: 10 px;
}
.position-description {
  height: 37vh;
  width: 42vw;
  opacity: 0.6;
  color: #000000;
  font-family: Rubik;
  font-size: 18px;
  letter-spacing: 0.56px;
  line-height: 26px;
  text-align: right;
  margin-top: 4vh;
  max-height: 30vh;
}
