@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.header-container {
  font-family: "Rubik";
  font-weight: regular;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 210, 0);
  height: 15vh;
}

.div-header-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 2.5rem;
  width: auto;
  gap: 0.5rem;
}

.div-ezor-ichi {
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
}
.div-ezor-ichi:hover,
.div-hitnatek:hover {
  color: white;
  border: 2px solid white;
}

.div-header-middle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
  margin: 0 2.5rem;
}
.div-hitnatek {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.5rem 0.7rem;
}

.div-middle-button:hover,
.div-ein-hechbon:hover {
  color: white;
  border-bottom: 3px solid white;
  font-weight: bold;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}
