@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.div-footer-container {
  font-family: "Rubik";
  font-weight: regular;
  font-size: 1rem;
  height: 15vh;
  fill: Solid;
  background-color: #4a4a4a;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.div-footer-text {
  height: 5.25vh;
  width: 40%;
  color: #ffffff;
  font-family: Rubik;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 28px;
  text-align: center;
}
