
  .cardsOpenP1{
    display: flex;
   flex-direction: column;
    text-align: right;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 7%;
    margin-right: 7%;
  }

