.JobPreviewContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
  padding: 2%;
  /* width: 28%; */
  height: 27.5vh;
  min-width: 21vw;
  max-width: 21vw;
  text-align: right;
  font-size: 0.8em;
  justify-content: space-around;
  flex-grow: 0;
}

.companyContainer {
  display: flex;
  justify-content: space-between;
  height: max-content;
}

.companyLine {
  font-size: 1.2em;
  overflow-x: hidden;
}
.logoContainer {
  display: flex;
  margin-right: 5%;
}

.logo {
  width: 1.5em;
  background-image: url(../../Pages/PersonalSpace/CV.png);
  background-repeat: no-repeat;
  margin-right: 10%;
}

.logo:hover {
  transform: scale(130%);
}

.statusContainer {
  display: flex;
  justify-content: flex-end;
}

.rejected {
  background-color: rgb(105, 105, 105);
  height: 4vh;
  width: fit-content;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 15px;
  color: rgb(236, 236, 236);
  font-size: 1em;
  margin-right: 1;
  text-align: center;
}

.accepted {
  background-color: rgb(155, 238, 107);
  height: 4vh;
  width: fit-content;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 15px;
  color: green; /* padding: 3%; */
  font-size: 1em;
  margin-right: 1;
  text-align: center;
}

.pending {
  background-color: rgb(250, 243, 207);
  height: 4vh;
  width: fit-content;
  padding-right: 3%;
  padding-left: 3%;
  border-radius: 15px;
  color: rgb(75, 75, 75); /* padding: 3%; */
  font-size: 1em;
  margin-right: 1;
  text-align: center;
}

.statusDircection {
  direction: rtl;
}

.applicantDirection {
  direction: rtl;
}
