@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.add-cv-file-button {
  direction: rtl;
  width: 80%;
  display: flex;
  margin-right: 6%;
}
.add-cv-file-button-img {
  margin-bottom: 10px;
  height: 24px;
  margin-top: -3px;
}

.add-cv-file-button-text {
  margin-right: 15px;
  color: #4a4a4a;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: right;
}

.display-file-name {
  margin-top: 0%;
  margin-right: 20%;
  font-size: smaller;
}

.delete-file-button:hover {
  cursor: default;
}

.delete-file-name-button {
  background-color: #ffffff00;
  border: solid 1px black;
  border-radius: 100%;
  margin-right: 3%;
}

.delete-file-name-button:hover {
  cursor: pointer;
}
