@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.apply-container {
  display: flex;
  justify-content: center;
  /* margin: auto; */
  padding-top: 6vh;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-bottom: 6vh;
  direction: rtl;
  /* min-height: 60vh; */
  max-height: 100vh;
  width: fit-content;
  border-radius: 20px 0 20px 20px;
  width: 22vw;
}

.apply-container-background {
  background-color: rgba(255, 210, 0, 0.17);
}

.apply {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
  width: 100%;
}

.apply-title {
  color: rgba(0, 0, 0, 0.87);
  font-family: Rubik;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  margin-bottom: 5%;
}
.main-apply-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 1%;
}

.secondary-apply-title {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5%;
}
.input-candidate-details {
  display: flex;
  /* justify-content: center; */
  color: rgba(0, 0, 0, 0.87);
  font-family: "Rubik";
  letter-spacing: 0;
  line-height: normal;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}
.input-cv-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-box-container {
  box-sizing: border-box;
  border: 1px solid rgba(74, 74, 74, 0.38);
  border-radius: 24px;
  background-color: #ffffff;
  margin-bottom: 6%;
}

.input-box {
  margin: 16.5px;
  background: transparent;
  border: none;
  width: 90%;
  color: rgba(0, 0, 0, 0.6);
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-align: right;
  outline: none;
  max-height: 22px;
}
::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.input-box:focus {
  background: transparent;
  border: none;
  outline: none;
}

.input-cv-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4%;
}

.clickable {
  margin-bottom: 10%;
}

.clickable:hover {
  cursor: pointer;
}

.button-icon-primary-enabled {
  max-height: 50px;

  width: 95%;
  border-radius: 24px;
  background-color: #ffd200;
}
.btn-text-container {
  margin-top: 9px;
  margin-bottom: 11px;
  display: flex;
  justify-content: center;
}
.check-container {
  display: flex;
  justify-content: space-around;
}

.check-box-eula {
  height: 15px;
  border-radius: 5px;
}

.error-input {
  color: red;
  font-size: x-small;
}
#submit-button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: "Rubik";
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.5px;
  text-align: center;
  line-height: 28px;
}
