@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.howItWorks-home-container {
  justify-content: center;
  font-family: "Rubik", sans-serif;
  width: 81%;
  height: auto;
  display: flex;
  background-image: linear-gradient(
    to right,
    rgba(202, 191, 143, 0.38),
    white 30%
  );
}
.howItWorks-home-container2 {
  min-height: 197px;
  width: 1080px;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-left: 200px;
  margin-bottom: 100px;
  z-index: 1;
}
.howItWorks-home-mainTitle {
  margin-right: 466px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 0;
}
.underline-howItWorks {
  margin-left: 40%;
  margin-top: 7px;
  width: 40px;
  border: 2px solid #ffd200;
  background-color: #ffd200;
  height: 1px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.howItWorks-home-Title {
  font-family: "Rubik", sans-serif;
  height: 46.5px;
  width: 148px;
  margin-bottom: 0;
  direction: rtl;
  font-weight: bold;
  font-size: 25px;
  color: #4a4a4a;
}
.howItWorks-home-treeSteps-container {
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  column-gap: 40px;
}
.howItWorks-home-step1 {
  height: 77px;
  width: 265px;
  margin-top: 5%;
  margin-bottom: 19px;
  display: flex;
  flex-direction: row-reverse;
}
.group-6 {
  height: 77px;
  width: 259px;
  margin-top: 5%;
  margin-bottom: 19px;
  display: flex;
  flex-direction: row-reverse;
}
.group-8 {
  height: 96px;
  width: 333px;
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
}
.title1 {
  font-family: "Rubik", sans-serif;
  height: 38px;
  width: 172px;
}
.title2req {
  font-family: "Rubik", sans-serif;
  height: 38px;
  width: 152px;
}
.title3 {
  font-family: "Rubik", sans-serif;

  height: 57px;
  width: 253px;
}
.des {
  font-family: "Rubik", sans-serif;

  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: right;
  margin-top: -24px;
}
.howItWorks-home-titles {
  color: #ffd200;
  direction: rtl;
  text-align: right;
  margin-top: -3px;
  font-size: 20px;
}
img {
  display: inline;
}
.howItWorks-light-img {
  height: 54px;
  width: 63px;
}
.img2 {
  height: 41px;
  width: 75px;
}
.img3 {
  height: 50px;
  width: 50px;
}
.howItWorks-home-steps-titleContainer {
  margin-right: 21px;
}

.mask {
  height: 135px;
  width: 100%;
  background-color: rgba(255, 210, 0, 0.17);
  padding-top: 10px;
}

.submmitFriend-CV-btn {
  background-color: #ffd200;
  width: 10.5%;
  border-radius: 25px;
  padding: 1%;
  margin-left: 44.7%;
  border: none;
  outline: none;
}

.submmitFriend-CV {
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #4a4a4a;
  font-weight: 600;
}
